@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #ffffff;
  background: #D0ECF6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
p {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-semi-bold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.starter-template {
  margin-top: 50px;
}
.starter-template .content {
  margin-left: 10px;
  background:#63BEE1;
  padding:30px;
}
.starter-template .content h1 {
  margin-top: 10px;
  font-size: 60px;
}
.starter-template .content h1 .smaller {
  font-size: 40px;
  color: #f2b7bd;
}
.starter-template .content .lead {
  font-size: 25px;
  color: #f2b7bd;
}
.starter-template .content .lead .font-normal {
  color: #ffffff;
}
.starter-template .links {
  float: right;
  right: 0;
  margin-top: 125px;
}
.starter-template .links ul {
  display: block;
  padding: 0;
  margin: 0;
}
.starter-template .links ul li {
  list-style: none;
  display: inline;
  margin: 0 10px;
}
.starter-template .links ul li:first-child {
  margin-left: 0;
}
.starter-template .links ul li:last-child {
  margin-right: 0;
}
.starter-template .links ul li.current-version {
  color: #f2b7bd;
  font-weight: 400;
}
.starter-template .links ul li a {
  color: #ffffff;
}
.starter-template .links ul li a:hover {
  text-decoration: underline;
}
.starter-template .links ul li .icon-muted {
  color: #eb8b95;
  margin-right: 5px;
}
.starter-template .links ul li:hover .icon-muted {
  color: #ffffff;
}
.starter-template .copyright {
  margin-top: 10px;
  font-size: 0.9em;
  color: #f2b7bd;
  text-transform: lowercase;
  float: right;
  right: 0;
}

.w2l-content{
 width:40%;
 float:left;   
}
 

.tab-content .active{
    padding:5px
}

.nav-tabs > li{
border-radius: 5px 5px 0 0;
}

.nav-tabs > li > a {
    background:#bbb;
}

.tab-pane input{
    float: right;
    margin-right: 10px;
}

@media (max-width: 1199px) {
  .starter-template .content h1 {
    font-size: 45px;
  }
  .starter-template .content h1 .smaller {
    font-size: 30px;
  }
  .starter-template .content .lead {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .starter-template {
    margin-top: 0;
  }
  .starter-template .logo {
    margin: 40px auto;
  }
  .starter-template .content {
    margin-left: 0;
    text-align: center;
  }
  .starter-template .content h1 {
    margin-bottom: 20px;
  }
  .starter-template .links {
    float: none;
    text-align: center;
    margin-top: 60px;
  }
  .starter-template .copyright {
    float: none;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .starter-template .content h1 .smaller {
    font-size: 25px;
    display: block;
  }
  .starter-template .content .lead {
    font-size: 16px;
  }
  .starter-template .links {
    margin-top: 40px;
  }
  .starter-template .links ul li {
    display: block;
    margin: 0;
  }
  .starter-template .links ul li .icon-muted {
    display: none;
  }
  .starter-template .copyright {
    margin-top: 20px;
  }
}


.wlsubmitter{
    float:right; 
    background: none repeat scroll 0 0 #d0ecf6;
    border: 4px solid lightgrey;
    color: black;
    float: right;
    padding: 10px;
} 

.wlsubmitter a{
    color:black;
    font-weight:bold;
}
 
.error{
    border: 3px solid #db0031 !important;
    color:black;
 }
 
.errorblock{
  padding:5px;
  margin:5px;
/*   background: #cdc; */
  color:black;
  border-width:2px;
  border-style:solid;
}

.lsperrorstring{ 
  font-family:monospace;
}

.sanityresults li{
  list-style:none
}

.errorsmsg{
 color:blue; 
}

.lsperrorfn{
  font-weight:bold;
}
 

.lsperrorpre{
/*   text-decoration:underline; */
} 

.lsperrorpost{
/*   text-decoration:underline; */
}

.lspoffendingstring{
  color:#e33;
  font-weight:bold;
}

.closer{
  float:right;
  color:red;
  padding:5px;
  cursor:pointer;
}

.megacloser{
  float:right;
  color:red;
  padding:5px;
  cursor:pointer;
  font-size:200%;
}

.linenr {
    margin-left: -3.5em;
    position: absolute;
    font-size:80%;
}

.spellingerror{
  background:#ddd;
  color:#111; 
  margin: 2px 0px;
  display:inline-block;
  min-width:100px;
}